# INTRODUCTION TO IMPORTING DATA IN PYTHON

# 1-) Introduction to Flat (Basit, Düz) Files

Python'ın temel, gömülü olarak bulundurduğu flat (düz) metin dosyalarını (.txt) açmak için kullandığımız komutlar:

+ open(filename, mode) --> Bir dosyayı açar ve onu dosya nesnesi olarak döndürür.
  
  Parametreleri:
  
   mode --> "r", "a", "w", "x", "t", "b"
  
      "r" (read) -> Okumak için bir dosya açar
  
      "a" (append) -> Eklemek için bir dosya açar
  
      "w" (write) -> Yazmak için bir dosya açar
  
      "x" (creat) -> Belirtilen dosyayı oluşturur
  
      "t" (text) -> Metin modu
  
      "b" (binary) -> İkili mod
  
   filename --> String

+ read() --> Dosyadan, belirtilen bayt sayısını döndürür. Varsayılan, -1'dir. Bu da tüm dosya demektir.

+ close() --> Açık bir dosyayı kapatır.

+ xx.closed --> Dosyanın kapatılıp kapatılmadığını kontrol eder. Sonuç olarak True veya False döndürür

In [1]:
"Örnek"

file = "ornek_1.txt"
filename = file
data_1 = open(filename, mode = "r")
text = data_1.read()
data_1.close()
print(text)

Kışın kazma kürek yaktıran zamanlarıydı. Memuruz, zaten meteliğe kurşun atıyoruz. E, haliyle kazma küreğimiz de yok. Doğal gazı erkenden kapatıp yorganlara sarılıyoruz. İşte böyle bir gecede kapıdan tıkırtı geldi. Kafamı yorgandan çıkarmamla sokmam bir oldu. Belki de dışarısı evden daha sıcaktı? Kim bilir? Tıkırtı salona doğru geçti. Muhakkak ki hırsız girmişti. Kafamı tekrar yorgandan çıkardım. “Ulan paramız olsaydı, soğukta yatar mıydık?” dedim. Birkaç dakika sonra kapı kapanma sesi geldi. Onun yerinde olsam sıcak evleri girerdim. Oh mis, sıcacık, ısınırdım da! Sabah kalkıp mutfakta çayımı demledim. Salona doğru çayımla seğirttim. Yahu, benim buralarda bir battaniyem olacaktı! Lan, ulan hırsız, ulan hırsız

In [2]:
"Örnek"

file = "ornek_2.txt"
filename = file 
data_2 = open(filename, mode = "r")
text_1 = data_2.read()
data_2.close()
print(text_1)

A	B	C
z	76	1.3
x	32	1.7
c	45	-0.4
v	65	0.0005
b	64	23.7
n	63	3.32
m	72	0.27072001

### --> Importing flat files using NumPy (NumPy kullanarak düz dosyaları içe aktarma)

In [3]:
import numpy as np

Flat (düz, basit) metin dosyalarını (.txt) NumPy ile içe aktarmak için kullandığımız komutlar:

+ np.loadtxt() --> Metin dosyasından veri yükler. Basit durumlarda yani her verinin, veri tipinin aynı olduğu durumlarda kullanılabilir.

  Parametreleri:
  
      fname -> Dosya adı girilir.
  
      dtype -> Aktarılacak verilerin hangi türde aktarılacağı girilir.
  
      delimate -> Değerleri ayırmak için kullanılan dize. Varsayılanı boşluktur.
  
      skiprows -> Kaç satırın atlanılarak içe aktarılacağı girilir.
  
      usecols -> Hangi sütunların aktarılacağı seçilir.

+ np.genfromtxt() --> Verilerin, veri tipleri birbirleriyle aynı olmadığı zamanlarda kullanılabilir. Bir sütundaki veriler string iken diğer sütundaki veriler float olması gibi. dtype parametresi, None olarak ayarlandığında bütün verileri olduğu gibi içe aktaracaktır

  Parametreleri:
  
      fname -> Dosya adı girilir. 
  
      delimate -> Değerleri ayırmak için kullanılan dize. Varsayılanı boşluktur.
  
      names -> Başlık olup olmadığı belirtilir. True veya False olarak boolean değerler alır.
  
      dtype -> Aktarılacak verilerin hangi türde aktarılacağı girilir.

+ np.recfromcsv() --> np.genfromtxt() ile aynıdır. Sadece dtype, varsayılan olarak None'dır

In [4]:
"""
Örnek:

import numpy as np

filename = "MNIST_header.txt"
data = np.loadtxt(filename, dilemate = ",", skiprows = 1)
print(data)

"""

'\nÖrnek:\n\nimport numpy as np\n\nfilename = "MNIST_header.txt"\ndata = np.loadtxt(filename, dilemate = ",", skiprows = 1)\nprint(data)\n\n'

In [5]:
"""
Örnek: 

import numpy as np 

file = "titanic.csv"
filename = file
data = np.genfromtxt(filename, delimiter = ",", names = True, dtype = None)
print(data)

"""

'\nÖrnek: \n\nimport numpy as np \n\nfile = "titanic.csv"\nfilename = file\ndata = np.genfromtxt(filename, delimiter = ",", names = True, dtype = None)\nprint(data)\n\n'

### --> Importing flat files using Pandas (Pandas kullanarak düz dosyaları içe aktarma)

In [6]:
import pandas as pd

Flat (düz) dosyaları içe aktarırken kullandığımız komutlar:

+ pd.read_csv() --> csv dosyalarını DataFrame olarak içe aktarmayı sağlar. 
  
  Parametreleri:
  
  sep -> Değerler ayırmak için kullanılacak sınırlayıcı \t, \r gibi.
  
  nrows -> Okunacak satır sayısı
  
  chunksize -> Saniyede okunan satır sayısını ifade eder.

> Matrixlerin satır ve sütunları, DataFramelerin gözlemleri ve değişkenleri vardır.

In [7]:
"Örnek"

data = pd.read_csv("ornek_2.csv", usecols = [0,1,2])
print(data)

   A   B         C
0  z  76   1.30000
1  x  32   1.70000
2  c  45  -0.40000
3  v  65   0.00050
4  b  64  23.70000
5  n  63   3.32000
6  m  72   0.27072

In [8]:
"""
Örnek:

import pandas as pd 

filename= "winequality_red.csv"
data = pd.read_csv(filename)
print(data)

"""

'\nÖrnek:\n\nimport pandas as pd \n\nfilename= "winequality_red.csv"\ndata = pd.read_csv(filename)\nprint(data)\n\n'

# 2-) Importing Data From Other File Types

İçe aktarma yapacağımız diğer dosya tipleri:

+ Excel spreadsheets -> Spreadsheetler, satırlar ve sütunlar halinde düzenlenmiş verileri yakalayabilen, görüntüleyebilen ve değiştirebilen bir bilgisayar programıdır . Spreadsheetler, kişisel bilgisayarlarda bulunan en popüler araçlardan biridir. Bir spreadsheet genellikle sayısal verileri ve kısa metin dizilerini tutmak için tasarlanmıştır. 

  MATLAB files -> MATLAB bir programlama dili olmasının yanı sıra etkileşimli bir hesaplama ortamıdır. MATLAB dilinde kod içeren dosyalara M dosyaları denir . M dosyaları, MATLAB dilinde yazılmış sıradan ASCII metin verileridir. Bu tür dosyalara "M-dosyaları" adı verilir, çünkü ".ms" dosya adı uzantısına sahip olmaları gerekir.
  
  SAS files -> SAS dosya uzantısına sahip bir dosya, İstatistiksel Analiz Yazılımı (SAS) dosyasıdır . SAS dosyası, bir veri kümesine karşı çalıştırılabilecek bir dizi SAS işlevi içeren bir ASCII (metin) dosyasıdır veya bir SAS dosyası gerçek veri kümesini içerebilir.
  
  Stata files -> Stata, verileri diğer programlar tarafından okunamayan özel bir biçimde saklar . Stata veri dosyalarının uzantısı .dta'dır. Stata, verileri birkaç başka formatta okuyabilir. Standart biçim, uzantılı virgülle ayrılmış değerler dosyasıdır. csv (örneğin Excel tarafından oluşturulabilir). 
  
  HDF5 files -> HDF5 dosyası, Hiyerarşik Veri Biçimi 5 anlamına gelir . Büyük miktarda veri depolamak için kullanışlı olan açık kaynaklı bir dosyadır. Adından da anlaşılacağı gibi, verileri tek bir dosya içinde hiyerarşik bir yapıda saklar.

### --> Pickle Module

Pickle Modülü: 

+ Python pickle modülü, bir Python nesne yapısının seri hale getirilmesi ve seri durumundan çıkarılması için kullanılır. Python'daki herhangi bir nesne, diske kaydedilebilmesi için seçilebilir. Pickle'ın yaptığı şey, nesneyi dosyaya yazmadan önce "serileştirmesi"dir. Pickling, bir python nesnesini (list, dict, vb.) karakter akışına dönüştürmenin bir yoludur. Buradaki fikir, bu karakter akışının, nesneyi başka bir python betiğinde yeniden oluşturmak için gerekli tüm bilgileri içermesidir.

In [9]:
"""
Örnek:

import pickle 
with open("pickled_fruit.pkl", "rb") as file:
    data = pickle.load(file)

"""

'\nÖrnek:\n\nimport pickle \nwith open("pickled_fruit.pkl", "rb") as file:\n    data = pickle.load(file)\n\n'

### --> Pandas ile Excel Spreadsheetleri İçe Aktarmak

Excel Spreadsheet'leri Pandas ile içe aktarmak için kullanacağımız komutlar:

+ pd.ExcelFile() --> pd.read_excel() ile aynı işlevi görür. Excel dosyasını bir DataFrame olarak içe aktarır.

+ xxx.sheet_names --> Bir fonksiyondur. Excel sayfalardan oluşur, sheet_names de bu sayfa adlarını görmemize yardımcı olur.

+ xxx.parse() --> sheet_names ile başlıklarını öğrendiğimiz excel sayfalarını içe aktarmak için kullanılır.

In [10]:
"Örnek"

file = "ornek_2.xlsx"
data_2 = pd.ExcelFile(file)
print(data_2.sheet_names)
df1 = data_2.parse("Sheet1")
print(df1)

['Sheet1']
   A   B         C
0  z  76   1.30000
1  x  32   1.70000
2  c  45  -0.40000
3  v  65   0.00050
4  b  64  23.70000
5  n  63   3.32000
6  m  72   0.27072

In [11]:
"Örnek"

file = "battledeath.xlsx"
new_data = pd.ExcelFile(file)
print(new_data.sheet_names)
df2 = new_data.parse("2002")
df3 = new_data.parse(1) # 1 sayısı, 2004 başlıklı sayfanın indexini belirtiyor.
print(df2.head())
print(df3.head())

['2002', '2004']
  War, age-adjusted mortality due to       2002
0                        Afghanistan  36.083990
1                            Albania   0.128908
2                            Algeria  18.314120
3                            Andorra   0.000000
4                             Angola  18.964560
  War(country)      2004
0  Afghanistan  9.451028
1      Albania  0.130354
2      Algeria  3.407277
3      Andorra  0.000000
4       Angola  2.597931

# 3-) Introduction To Relational Databases (İlişkisel Veri Tabanı)

Relational Database (ilişkisel veri tabanı); 1970 yılında E. F. Codd tarafından açıklanan, ilişkisel veri modeline (relational model of data) dayalı bir veritabanıdır.

Relational model of data (ilişkisel veri modeli) --> İlişkisel bir veri modeli , öğe gruplarını ilişkiler halinde toplayan veri tablolarının kullanımını içerir . Bu modeller, her tablo kurulumunun bir birincil anahtar veya tanımlayıcı içereceği fikrine dayalı olarak çalışır. Diğer tablolar, "ilişkisel" veri bağlantıları ve sonuçları sağlamak için bu tanımlayıcıyı kullanır.

İlk olarak SQL dosyasını kullanarak veritabanı motoru oluştururuz. Bunu yapmak için de "sqlalchemy" sınıfından, "create_engine" modülünü kullanırız

Bu modülde kullanacağımız komutlar:

+ create_engine() --> Veritabanı motoru oluşturmamızı sağlar. 

  Kullanılışı:
  
      create_engine(bağlanılan veri tabanının türü :/// veri tabanının adı)

+ xxx.table_names() --> Veri tabanındaki tabloların isimlerini döndürür

In [12]:
from sqlalchemy import create_engine

In [13]:
engine = create_engine("sqlite:///Chinook.sqlite")
table_names = engine.table_names()

C:\Users\ozero\AppData\Local\Temp/ipykernel_12916/1131916333.py:2: SADeprecationWarning: The Engine.table_names() method is deprecated and will be removed in a future release.  Please refer to Inspector.get_table_names(). (deprecated since: 1.4)
  table_names = engine.table_names()

İlişkisel veri tabanı motoru oluşturduktan sonra, sıra sorgulamaya gelir. Sorgulama demek aslında veri tabanından veriyi almak demektir. Bütün süreç şu sırada gerçekleşir:

+ 1) Gerekli paket ve işlevleri içe aktaracağız. (Yukarıda yaptık)

+ 2) Motoru oluşturacağız. (Yukarıda yaptık)

+ 3) Oluşturduğumuz motora bağlanacağız. Bunu, xxx.connect() komutu ile yapacağız.

      xxx.connect() komutu:
     
      -> Oluşturulan veri tabanı motoruna bağlanmayı sağlar.

+ 4) Veritabanını sorgulayacağız. Bunu, xxx.execute() ile yapacağız.
     
      xxx.execute() komutu:
     
      -> SQLAlchemy'ye ait bir sonuç nesnesi oluşturur. Bu komutun içerisine, SQL komutlar girerek sorgu yapılabilir. Mesela:
     
      xxx.execute("SELECET * FROM Orders")

+ 5) Sorgunun sonuçlarını DataFrame olarak kaydedeceğiz. df = DataFrame(xx.fetchall()) şeklinde yapacağız.

      xx.fetchall() komutu: 
     
      -> Sql dosyasındaki, tablodaki tüm satırları getirir.

+ 6) Bağlantıyı kapatacağız.

      xx.close() şeklinde.

In [14]:
"Örnek"

from sqlalchemy import create_engine
import pandas as pd

engine = create_engine("sqlite:///Chinook.sqlite")
con = engine.connect()
rs = con.execute("SELECT * FROM Album")
df = pd.DataFrame(rs.fetchall())
df.columns = rs.keys()
con.close()
print(df.head())

   AlbumId                                  Title  ArtistId
0        1  For Those About To Rock We Salute You         1
1        2                      Balls to the Wall         2
2        3                      Restless and Wild         2
3        4                      Let There Be Rock         1
4        5                               Big Ones         3

In [18]:
"Veritabanı motorunun with ve as ile oluşturulup con değişkenine atanmış hali"
"Bu, işlemlerin sonunda bağlantıyı kapatmamıza gerek kalmasını engeller."

with engine.connect() as con:
    rs = con.execute("SELECT LastName, Title FROM Employee")
    df = pd.DataFrame(rs.fetchmany(3))
    df.columns = rs.keys()

print(df.head())

  LastName                Title
0    Adams      General Manager
1  Edwards        Sales Manager
2  Peacock  Sales Support Agent

In [16]:
"Employee tablosundan, EmployeeId >= 6 olanları döndürüyoruz"

with engine.connect() as con:
    rs = con.execute("SELECT * FROM Employee WHERE EmployeeId >= 6")
    df = pd.DataFrame(rs.fetchall())
    df.columns = rs.keys()

print(df.head())

   EmployeeId  LastName FirstName       Title  ReportsTo            BirthDate  \
0           6  Mitchell   Michael  IT Manager          1  1973-07-01 00:00:00
1           7      King    Robert    IT Staff          6  1970-05-29 00:00:00
2           8  Callahan     Laura    IT Staff          6  1968-01-09 00:00:00

              HireDate                      Address        City State Country  \
0  2003-10-17 00:00:00         5827 Bowness Road NW     Calgary    AB  Canada
1  2004-01-02 00:00:00  590 Columbia Boulevard West  Lethbridge    AB  Canada
2  2004-03-04 00:00:00                  923 7 ST NW  Lethbridge    AB  Canada

  PostalCode              Phone                Fax                    Email
0    T3B 0C5  +1 (403) 246-9887  +1 (403) 246-9899  michael@chinookcorp.com
1    T1K 5N8  +1 (403) 456-9986  +1 (403) 456-8485   robert@chinookcorp.com
2    T1H 1Y8  +1 (403) 467-3351  +1 (403) 467-8772    laura@chinookcorp.com

In [17]:
"Employee tablosunu, doğum tarihleri artan sırada olacak şekilde döndürüyoruz"

with engine.connect() as con:
    rs = con.execute("SELECT * FROM Employee ORDER BY BirthDate")
    df = pd.DataFrame(rs.fetchall())
    df.columns = rs.keys()
    
print(df.head())

   EmployeeId  LastName FirstName                Title  ReportsTo  \
0           4      Park  Margaret  Sales Support Agent        2.0
1           2   Edwards     Nancy        Sales Manager        1.0
2           1     Adams    Andrew      General Manager        NaN
3           5   Johnson     Steve  Sales Support Agent        2.0
4           8  Callahan     Laura             IT Staff        6.0

             BirthDate             HireDate              Address        City  \
0  1947-09-19 00:00:00  2003-05-03 00:00:00     683 10 Street SW     Calgary
1  1958-12-08 00:00:00  2002-05-01 00:00:00         825 8 Ave SW     Calgary
2  1962-02-18 00:00:00  2002-08-14 00:00:00  11120 Jasper Ave NW    Edmonton
3  1965-03-03 00:00:00  2003-10-17 00:00:00         7727B 41 Ave     Calgary
4  1968-01-09 00:00:00  2004-03-04 00:00:00          923 7 ST NW  Lethbridge

  State Country PostalCode              Phone                Fax  \
0    AB  Canada    T2P 5G3  +1 (403) 263-4423  +1 (403) 263-4289
1    AB  Canada    T2P 2T3  +1 (403) 262-3443  +1 (403) 262-3322
2    AB  Canada    T5K 2N1  +1 (780) 428-9482  +1 (780) 428-3457
3    AB  Canada    T3B 1Y7   1 (780) 836-9987   1 (780) 836-9543
4    AB  Canada    T1H 1Y8  +1 (403) 467-3351  +1 (403) 467-8772

                      Email
0  margaret@chinookcorp.com
1     nancy@chinookcorp.com
2    andrew@chinookcorp.com
3     steve@chinookcorp.com
4     laura@chinookcorp.com

### --> Querying Relational Databases Directly With Pandas (Pandas ile direkt olarak ilişkisel veritabanını sorgulama)

Yukarıda gördüğümüz 3,4,5 ve 6. işlemleri sadece Pandas kullanarak yapmak mümkün. Bunu pd.read_sql_query komutu ile yapabiliriz.

+ pd.read_sql_query --> SQL dosyasındaki tabloyu sorgulayıp DataFrame şeklinde kaydeder.

  Parametreleri:
  
      sql -> Uygulanacak SQL komutu girilir.
  
      con -> Oluşuturlan veritabanı motoru girilir.

In [4]:
from sqlalchemy import create_engine
import pandas as pd 

engine = create_engine("sqlite:///Chinook.sqlite")
df = pd.read_sql_query("SELECT * FROM Album", engine)
df_1 = pd.read_sql_query("SELECT * FROM Employee WHERE EmployeeId >= 6 ORDER BY Birthdate", engine)
print(df.head())
print("\t")
print(df_1.head())

   AlbumId                                  Title  ArtistId
0        1  For Those About To Rock We Salute You         1
1        2                      Balls to the Wall         2
2        3                      Restless and Wild         2
3        4                      Let There Be Rock         1
4        5                               Big Ones         3

   EmployeeId  LastName FirstName       Title  ReportsTo            BirthDate  \
0           8  Callahan     Laura    IT Staff          6  1968-01-09 00:00:00
1           7      King    Robert    IT Staff          6  1970-05-29 00:00:00
2           6  Mitchell   Michael  IT Manager          1  1973-07-01 00:00:00

              HireDate                      Address        City State Country  \
0  2004-03-04 00:00:00                  923 7 ST NW  Lethbridge    AB  Canada
1  2004-01-02 00:00:00  590 Columbia Boulevard West  Lethbridge    AB  Canada
2  2003-10-17 00:00:00         5827 Bowness Road NW     Calgary    AB  Canada

  PostalCode              Phone                Fax                    Email
0    T1H 1Y8  +1 (403) 467-3351  +1 (403) 467-8772    laura@chinookcorp.com
1    T1K 5N8  +1 (403) 456-9986  +1 (403) 456-8485   robert@chinookcorp.com
2    T3B 0C5  +1 (403) 246-9887  +1 (403) 246-9899  michael@chinookcorp.com